input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.cart-container {
  background-color: #f5f5f5;
  font-family: 'Barlow', sans-serif;
  color: rgba(0,0,0,.8);
  padding: 160px 8% 80px;
}

.cart-header .cart-content {
  font-size: 18px;
  border: none;
}
.cart-header .cart-content .cart-item-topping,
.cart-header .cart-content .cart-item-price {
  font-size: 18px;
}
.cart-content {
  display: flex;
  align-items: center;
  gap: 16px;
  border-top: 1px solid rgba(211, 182, 115, .4);
  padding: 1rem 0;
}

.cart-item-img,
.cart-item-price {
  width: 15%;
}
.cart-item-topping {
  width: 18%;

}
.cart-item-name {
  width: 22%;
}
.cart-item-quantity {
  width: 13%;

}
.cart-item-total {
  width: 10%;
}
.cart-item-action {
  width: 7%;
}

.cart-item-img img {
  width: 100px;
}
.cart-item-name p {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #d3b673;

}
.cart-item-topping {
  font-size: 14px;
}

.cart-item-price {
  font-size: 14px;
}
.cart-item-price span:nth-child(1) {
  font-size: 13px;
  color: rgba(0,0,0,.5);
  text-decoration: line-through;
  margin-right: 4px;
}
.cart-item-quantity {
  display: flex;
  align-items: center;
}
.cart-item-quantity input {
  height: 32px;
  width: 50px;
  border: none;
  border-top: 1px solid rgba(0,0,0,.09);
  border-bottom: 1px solid rgba(0,0,0,.09);
  outline: none;
  text-align: center;
  font-size: 16px;
}
.cart-item-quantity button {
  height: 32px;
  width: 32px;
  border: 1px solid rgba(0,0,0,.09);
  background-color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: .3s all;
}
.cart-item-quantity button:hover {
  background-color: #d3b673;
  color: #fff;
}

.cart-item-total span {
  font-size: 16px;
  color: #d3b673;
}
.cart-item-action button {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: .3s;
  cursor: pointer;
}
.cart-item-action button:hover {
  color: #d3b673;
}

.btn-order-cart {
  display: flex;
  justify-content: end;
}

@media (max-width: 1280px) {
  .cart-item-price {
    display: none;
  }
}
@media (max-width: 1024px) {
  .cart-item-name {
    display: none;
  }
  .cart-item-img,
  .cart-item-topping,
  .cart-item-quantity,
  .cart-item-total,
  .cart-item-action {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .cart-item-total {
    display: none;
  }
  .cart-item-img,
  .cart-item-topping,
  .cart-item-quantity,
  .cart-item-action {
    width: 25%;
  }
}
@media (max-width: 640px) {
  .cart-content {
    flex-wrap: wrap;
  }
  .cart-item-quantity-thead,
  .cart-item-action-thead {
    display: none;
  }
  .cart-item-img,
  .cart-item-topping,
  .cart-item-quantity,
  .cart-item-action {
    width: 45%;
  }
}
