#spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 10001;
  }
  #spinner img {
    width: 650px;
    max-width: 100%;
    object-fit: cover;
    height: auto;
  }