body{
    font-family: 'Barlow', sans-serif;
}
.product-detail{
    display: flex;
    gap: 50px;
}
.img-product-detail{
    width: 30%;
}
.info-product{
    width: 70%;
}
.img-product-detail img{
    width: 100%;
}
.name-product h1{
    margin-top: 0;
}
.price-product{
    color: #8a733f;
    font-size: 26px;
}
.price-product p{
    margin: 0;
}
.title-option{
    font-weight: 600;
}
.option-item > label{
    margin-right: 20px ;
}
.add-topping{
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 5px;
}
.item-topping label{
    margin-right: 20px;
}
.option-inline{
    display: flex;
    gap: 50px;
}
.quantity{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quantity span{
    margin-right: 40px;
}
.quantity button{
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.quantity button:hover{
    background-color: #8a733f;
    border-color:#8a733f ;
    color: white;
}
.quantity input{
    width: 50px;
    border: none;
    height: 24px;
    outline: none;
    text-align: center;
}
.buy-now{
    margin-top: 20px;
}
.buy-now button{
    background-color: #8a733f;
    border:none;
    color: white;
    outline: none;
    width: 210px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all ease .2s;
    text-transform: uppercase;
}
.buy-now button:hover{
    background-color: #8d6c20;
}
.product-detail-bottom{
    margin-top: 80px;
    display: flex;
    gap: 20px;
}
.box-left-bot{
    width: 70%;
    box-shadow: 0 2px 7px 0px rgba(0,0,0,0.1);
}
.box-right-bot{
    width: 30%;
}
.list-product-sale{
    list-style: none;
    padding: 0;
    
}
.item-product-sale{
    display: flex;
    padding: 5px 10px;
    gap: 10px;
    border-bottom: 1px solid rgb(239, 239, 239);
}
.item-product-sale img{
    width: 40px;
}
.product-sale{
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 100%;
}
.product-sale p,h3{
    margin: 0;
}
.none-border-list{
    border:none;
}
.best-sale{
    box-shadow: 0 2px 7px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
}
.best-sale h2{
    text-align: center;
    margin: 0;
    background-color: #8a733f;
    padding:10px 0;
    color: white;
    text-transform: uppercase;
}